header{background-color: white;}
header nav ul li{display: inline-block; width: 100%;}
    header{margin-top: 30px;}
header div{display: inline;margin: 30px;}
header nav ul li {display: inline;margin-left: 30px;margin-right: 80px;
 }
 header nav ul li img{margin-top: 30px;width:200px ;height:70px ;}
h1 { text-align: center ;font-family: cursive}
h2{font-family: Arial, Helvetica, sans-seri;
    color:  #e5e8ec;
    font-size: 60px;}
    form fieldset legend input{display: inline-block;}
fieldset {
    background-color: rgb(255, 255, 79); height:60px ;
  }
   input{
        background-color: rgb(22, 97, 158);color: white;height:30px ;
     }
  legend {display: inline;
    background-color: rgb(165, 242, 252);}
 a {text-decoration: none;  }




body section nav img{margin: 30px;width:90%;}
section ul{margin-bottom: 30px;}
body section ul li {display: inline;margin-left: 30px;}
body section ul li image{width: 375px;height: 300px;}
section div img{float: left;margin-left: 30px;margin-right: 30px;width: 480px;height: 400px;}
body section div{display: inline;}
     section div nav p {  overflow: scroll;width: 460px;height: 380px;background-color: bisque;color: rgba(8, 53, 56, 0.774);}
    .bkimg{background-image: image('img/noteimg.jpg');}
    table, th, td {
  border: 1px solid rgb(2, 37, 88);
}
td{width: 65px;}
.container{position: relative;
  text-align: center;
  color: white;}
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
body {
    background-color: rgba(174, 236, 247, 0.87) ;
}
    footer{background-color: gray;height: 80px;}
    
    footer div ul li {
      display: inline; height: 30px;width: 30px;
  }
   